footer {
    width: 480px;
    background-color: #353535;
    color: white;
   
    img {
        width: 80px;
        
    }
    ul {
        list-style-type: none;
        
        li{
            margin-bottom: 5px;
        }


    }
}